// icons
.icon
    background-color: whiteAlp07
    color: white
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    padding:0.2em 0.2em 0.2em 0.2em
    font-size: 1.5em
    border-radius: 50%
    text-decoration: none
.iconLarger
    width: 100px
    height: 100px    
.icon.alt
    background-color: brand2
.icon.inline
    display: inline-flex
.ic-basic
    font-size: 1.4em
    line-height: 1.4em
    color: sand
.ic-basic::before
    color: sand
.ic-basic.rev
    color: white
.ic-basic.rev::before
    color: white
ul.iconRow,
ul.iconRow li
    list-style-type: none
ul.iconRow li
    margin: marXXS marStd 0 0
    padding: padXXS padStd padXXS 0 
    display: inline-block
    border-right:1px solid sand
ul.iconRow li:last-child
    border-right:none
ul.iconRow li i 
    font-size: 2em
.faded
    opacity:0.5   
    transition: 0.3s 






a.ctaButton
    border-radius: 2em
    background-color: brand4
    color: darkmode2 !important
    font-size: 1em
    font-weight:600
    display: inline-block
    justify-content: space-between
    transition: 0.3s
    white-space: nowrap
    padding: padXXS padXS padXXS*1.1 padXS
    text-decoration: none
    @media dtrigger
        margin-left: marXXS
        margin-right: marXXS

a.ctaButton:hover
    background: white
    color: brand0 !important
    border-color: brand2 !important
    border-bottom-color: brand2 !important
    transform: translateY(-3px)

a.minorCTA 
    font-size: 1.2em
    padding: padXXS 0
    display: inline-block
    text-decoration: none
    transition: 0.5s
a.minorCTA span 
    text-decoration: underline
a.minorCTA:hover span 
    text-decoration: none
a.minorCTA i
    transition: 0.2s

.siteLogo
    font-size: 16px
    display: inline-flex
    padding-right: 1.5vw
    align-items: flex-end
    justify-content: flex-start

.siteLogo span
    font-size:0.85em
    color: white
    padding-left:2vw
    white-space: nowrap 
    line-height: 1.65em 
.siteLogo span i 
    font-style: normal
    color: brand4
picture.logoAsset img
    display: block
    width:120px
    height: auto
    margin-bottom: 5px
    @media phoneRule
        width: 110px


// images
img 
    width: 100%
    height: auto
    display: block
















ul.vanilla
    margin: 0
    margin-top:2.5em
    margin-bottom:2.5em

ul.vanilla li
    border:none
    line-height: 1.2em
    padding:0.17em 0 !important


.simpleGrid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(40%,1fr))
    grid-column-gap: padXS
    grid-row-gap: padXS

.simpleGrid2
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(15%,1fr))
    grid-column-gap: 1em
    grid-row-gap: 1em

.simpleGrid3
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(20%,1fr))
    grid-column-gap: 1em
    grid-row-gap: 1em


.simpleGrid30
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(30%,1fr))
    grid-column-gap: padXS
    grid-row-gap: padXS



@media phoneRule
    .simpleGrid,
    .simpleGrid2,
    .simpleGrid3,
    .simpleGrid30
        display: block

.restrictContentWidth
    max-width: 50%

@media screen and (max-width:1100px) {
    .restrictContentWidth {
        max-width: 100%;
    }
    ul.simpleGrid {
        display: block;
    }
}


.panel, .panelled
    padding: padM
    background-color: blackAlp25
    border-radius: 8px
    //text-align: center
    @media phoneRule
        margin-bottom: 1em
        padding: padL
.panel.rev, .panelled.rev
    background-color: whiteAlp04
.panel.compact
    padding: padXS padM padXXS padM
.panel.noBG,
.panelled.noBG
    background: none
.panel.centered,
.panelled.centered
    text-align: center




.panel .thumb.larger 
    height: 15vw
    @media phoneRule
        height: 15vh
    @media lgdesktopRule
        height: 10vh

.rowPanels .panel
    display: flex
    text-align: left
    @media ttrigger
        padding: 0
    @media phoneRule
        display: block
        text-align: center

.rowPanels .panel > span
    flex: 0 0 5vw
    @media phoneRule
        height: 15vh

div.panel picture
    @media phoneRule
        display: block
        margin-bottom: 1em


.galleryElement 
    background-color: brand0
    display: block
    width: 50vw
    height: 30vw
    @media mtrigger
        width 100%
        height: 60vw

.galleryElement div.galleryItem
    height: 30vw
    background-size: cover
    background-repeat: no-repeat 
    @media mtrigger
        width 100%
        height: 60vw










/* sand swirls */
.mixOverlay 
    mix-blend-mode: overlay
span.sandBgElement 
    display: flex
    align-items: center
    justify-content: center
    width: 17vw
    height: 17vw 
    position: relative
    
span.sandBgElement img.swirl
    position: absolute
    width: 100%
    height: auto
    opacity:0.3

.positionObj1
    position: absolute
    opacity:0.1
    left: 10vw
    top: 18vh
.positionObj2
    position: absolute
    opacity:0.1
    right: 10vw
    top: 30vh
.positionObj3
    position: absolute
    opacity:0.1
    left: 35vw
    top: 50vh
    
.sandBgElement img.stone1
    width:60%
    opacity: 0.9

.sandBgElement img.infog
    width:50%
    opacity: 1.0

@keyframes button-shake
    0%
        rotate: (0deg)
    25%
        rotate: (90deg)
    50%
        rotate: (0deg)
    75%
        rotate: (-90deg)

.button-shake
    animation: button-shake 10s infinite ease-in;

@keyframes orbit
    100%
        rotate: (360deg)

.orbit
    animation: orbit 30s infinite linear;










/* svg zen waves */
.waves
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;

    .parallax > use {
    animation: move-forever 20s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 15s;
    }
    .parallax > use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 20s;
    }
    .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    }
    @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
    }





    /* video thumbs */

a.itemLink:link, a.itemLink:visited  
    transition: 0.3s
    color: sandDark
    display: block
    text-decoration: none
a.itemLink:hover > *
    color: sand
@media (pointer: fine)
    a.itemLink:hover
        transform: scale(102%)
        //transform: translateY(-5px)
        


a.itemLink span.thumbVid
    display: flex
    justify-content: center
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height:18vw
    border-radius: 8px
    @media phoneRule
        height: 50vw
        margin-bottom: marL
    @media tabletRule
        height: 25vw
        margin-bottom: marM




a.itemLink span i 
    font-size:4em
    color: sandDark
    align-self: center
a.itemLink:hover span i 
    color: sand