//core layout

@media ttrigger  
    body > header
        display: flex
        justify-content: space-between
        align-items: center
        width:100%
    body > header > *
        padding-left: padM
        padding-right: padM

    body > header.fixed
        min-height: navHeightL
        position: absolute
        z-index: 20000
    
    body > header.sticky
        min-height: navHeight
        position: fixed
        z-index: 20000
        display: none
        background-color: blackAlp50
        background-image: url(/images/bgs/darkTile.webp)

    body > footer
        color: white
        text-align: center
        padding:  padXL marXL padXL marXL





.picturefill-background
    overflow hidden
    background-size: cover
    background-position: 50% 50%
.picturefill-background.containMob
    @media mtrigger
        background-size: contain
        background-position: 50% 0
        






































// mobile nav
.navHeight
    height: navSpacer
    @media tabletRule
        height: navHeight

#navMobile
    position: fixed
    bottom: marStd
    right: marStd
    z-index: 6000
    display: none
#navHeader
    position: fixed
    z-index: 7000
    background-color: blackAlp90
    width:90vw
    padding-left: 5vw
    padding-right: 5vw
    display: flex
    align-items: center
    justify-content: space-between
#navHeader div#mblNavControl
    //display: flex 
#navHeader div#mblNavControl a
    margin-left: marXS    
div.mblnav
    display: none;
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 6001
    background-color: blackAlp90
div.mblnavContainer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    /* The main point: */
    overflow-y: auto
    /* Optional but highly reccomended: enables momentum scrolling on iOS */
    -webkit-overflow-scrolling: touch
    background-color: brand0
.open
    opacity: 1 !important
div.containMNav
    padding: padXL padXL
div.containMNav > *
    margin-bottom: marXL
div.containMNav nav
    display: flex
    flex-direction: column
div.containMNav nav a
    padding: padM*1.5 padM 
    line-height: 130%
    margin: 1px 0
    border-bottom: 2px solid brand5
    @media tabletRule
        padding: padM
div.containMNav a:link,
div.containMNav a:visited
    color: brand5 !important
div.containMNav h6
    font-size: 1em
    margin-top: marStd
    margin-bottom: marL
@media mtrigger
    html.noscroll 
        overflow: hidden 
    body.noscroll
        overflow: visible
        height: 100%











// content
.filled
    position: relative
    z-index: 2
    background-color: blackAlp5
    //background-image: url(/images/bgs/darkTile.webp)
*.fullH
    min-height: fullH
    @media mtrigger
        min-height: fullH - navHeight
*.fullH.alignCenter
    display: flex
    align-items: center
*.fullH.alignCenter > *
    flex-basis: 100vw    
*.largeH
    min-height: largeH
    @media mtrigger
        min-height: largeH - navHeight
div.outerWrapper
    position: relative
    padding: padXL*2 padXL*2
    @media tabletRule
        padding: padXL*2 padXL
div.outerWrapper.wider
    padding-left: padXL
    padding-right: padXL
div.innerContent.cols
    @media dtrigger
        display: flex
        flex-wrap: nowrap
        column-gap: padM
div.innerContent.cols.compact
    @media dtrigger
        column-gap: padXXS
div.innerContent.cols > section
    @media phoneRule
        margin-bottom: 10vh
    @media dtrigger
        flex: 1 1 50%
// large desktop
@media lgdesktopRule
    div.outerWrapper
        padding: padXL padXL*2
    div.outerWrapper div.innerContent
        max-width: 1800px
        margin: 0px auto



.positionSliderBG
    //position: absolute
    position: fixed
    width: 100%
    height: 100%
    z-index: 0
    @media mtrigger
        height: 100% - navHeight
.positionSliderBG2
    position: absolute
    width: 100%
    height: 100%
    z-index: 0
.container 
    position: relative
.centred 
    display: flex
    justify-content: center
    align-items: center

div.insetContent
    text-align: center
    text-wrap: balance
    background-repeat: no-repeat
    background-size:auto 85%
    background-position: 50% 50%
    padding: padXXS
    @media dtrigger
        width 50vw
        {test}

div.slickSliderContent div.insetContent
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @media dtrigger
        min-height: 50vh

// mobile
@media mtrigger
    div.insetContent        
        padding: padXL*2 marXL padXL*2 marXL

