// typo defaults
a:link, a:visited
    color: brand4
    transition: 0.5s
a:hover, a:active
    color: white
    text-decoration: none    

header a 
    text-decoration: none



.activeLink, 
nav a:hover,
p a:hover,
li a:hover,
*.picturefill-background a:hover
    color: brand2 !important
    transition: 300ms

// nav typo
nav > *
    padding: padXXS padXXS
    transition: 0.5s
    @media dtrigger
        font-size:1em

h1, h2, h3, h4, h5, h6
    color: brand4
    margin:0
    margin-bottom: marXS

.brand4
    color: brand4
.white, .active
    color: white

// defaults   
h1
    font-weight: 300
    font-size: 3.5vw
    line-height: 90% 
    letter-spacing: -0.01em
    margin-bottom: marStd
    
h2
    font-weight: 300
    font-size: 4.5em
    line-height: 100% 
h3
    font-weight: 300
    font-size: 3.2em
    line-height: 110%

h4
    font-weight: 400
    font-size: 2.1em
    line-height: 120%
  
h5
    font-weight: 400
    font-size: 1.5em
    line-height: 125%
    margin-bottom: marXXS
   
h6
    font-weight: 400
    font-size:1.3em
    line-height: 125%
    margin-bottom: marXXS

p, li
    font-weight: 400
    font-size: 1.1em
    line-height: 140%


.small
    font-size: 0.9em    

.fw-200
    font-weight: 200
.fw-300
    font-weight: 300
.fw-400
    font-weight: 400
.fw-500
    font-weight: 500
.fw-600 
    font-weight: 600
.fw-700, strong
    font-weight: 700
.fw-800
    font-weight: 800


a.tabLink 
    text-decoration: none
a.tabLink > *
    display:flex
    justify-content: space-between
    border-bottom: 1px solid brand4
    padding: 0.5em 0
    margin-bottom: 0
a.tabLink > *.active
    border-bottom: none
    padding-bottom: 0
a.tabLink i
    font-size: 90%
    color: brand4


ul.linedItems
    margin: 0
    padding: 0
    list-style-type: none

ul.linedItems li
    display: block
    text-align: center
    padding: 1em
    border-bottom: 1px solid brand4Dark
ul.linedItems li:last-child
    border-bottom:none


.panel p
    margin: 0
    margin-bottom: marXXS